@import "../bower_components/bootstrap-sass/assets/stylesheets/application.scss";
@import "modules/viewNotes/viewNotes.scss";
@import "modules/createNote/createNote.scss";

.navbar{

  min-height:75px;

  &.navbar-default{
    //modified in ../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
    background-color: $navbar-default-bg;

    .navbar-brand{

      img{
        height: 45px;
        width: 160px;
        padding-left: 20px;
      }
    }

    .navbar-nav{

      padding: 10px 30px;

      li{

        a{
          font-size: 14px;
          //modified in ../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
          color: $navbar-default-color;
        }
      }
    }
  }
}

