<div class="jumbotron">
    <h1>My Note Maker</h1>
    <p class="lead">Make your own quick post it notes online</p>
    <p><a class="btn btn-lg btn-success" ui-sref="create" role="button">Create a Note</a></p>
</div>

<div class="row marketing" ng-controller="viewNotesController as vm">
    <div ng-repeat="note in vm.notes" class="col-lg-12" style="background: lightsteelblue; margin:5px;">
        <div class="col-lg-8">
            <h4>{{note.title}}</h4>
            <p>{{note.content}}</p>
            <p>Author: {{note.author}}</p>
        </div>
        <div class="col-lg-4">
            <div class="pull-right" style="margin-top: 5px;">
                <a class="btn btn-lg btn-info" role="button" ng-click="vm.editNote(note.noteId)">Edit</a>
                <a class="btn btn-lg btn-danger" role="button" ng-click="vm.deleteNote(note.noteId)">Delete</a>
            </div>
        </div>
    </div>
</div>